.boton {
    border-radius: 2rem;
    font-size: 1rem;
}

.boton-redondo {
    border-radius: 2rem;
    font-size: 1rem;
}

.flote {
    background: #e9ecef;
    color: #495057;
}

.boton-editar {
    background-color: #dc3545;
}

.boton-editar-aumento {
    background-color: #198754;
}

