.navbar-custom {
    background-color: black;
    /*background-color: #00733b;*/
    position: relative;
    width: 100%;
    z-index: 15000;
}

.navbar-item {
    width: 180px;
    cursor: pointer;
    font-size: 24px !important;
}

.text-sm {
    font-size: 12px !important
}

a {
    color: #4b5563;
}

.layout-topbar .logo img {
    width: 10rem;
    justify-content: center;
}

.logo {
    margin-left: 25px;
}

.margen-arriba {
    margin-bottom: 20px;
    margin-right: 20px;
}

.layout-topbar {
    position: fixed;
    height: 6rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--surface-card);
    transition: left 0.2s;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
}

.topbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0 3rem;
    display: flex;
    gap: 0.5rem;
    flex: 1 1 auto;
    overflow: auto;
}
.topbar-menu > li {
    display: flex;
    align-items: center;
    transition: background-color var(--transition-duration);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    cursor: pointer;
}
.topbar-menu > li a {
    font-size: 1.25rem;
    font-weight: 400;
    white-space: nowrap;
    padding-right: 1.375rem;
    color: var(--v-menuitem-text-color-secondary);
    opacity: 0.7;
}
.topbar-menu > li a.active-route {
    opacity: 1;
    color: var(--v-menuitem-text-color);
}
.topbar-menu > li i {
    color: var(--v-menuitem-text-color-secondary);
    font-size: 0.875rem;
    margin-left: 0.5rem;
    display: none;
}
.topbar-menu > li:hover {
    background-color: var(--v-menuitem-hover-bg);
}
.topbar-menu > li:hover a {
    padding-right: 0;
}
.topbar-menu > li:hover i {
    display: block;
}
.topbar-menu > li.topbar-menu-empty {
    color: var(--v-menuitem-text-color);
    cursor: auto;
}
.topbar-menu > li.topbar-menu-empty:hover {
    background-color: transparent;
}

