#dmain {
    margin: 0px;
    height: 100vh;
    width: 100%;
    background: url('http://desa.fonafifo.com/credifor/assets/bg2.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.title {
    font-size: 22px;
}

.titlesidebar {
    font-size: 20px;
}

.titulotema {
    font-size: 42px;
    font-family: Arial;
    font-weight: 700;
    color: #19471f
}