$gutter: 1rem;

@import "../assets/layout/styles/layout/layout.scss";

@import "../../node_modules/primeng/resources/primeng.min.css";
@import "../../node_modules/primeflex/primeflex.scss";
@import "../../node_modules/primeicons/primeicons.css";

@import "../../node_modules/quill/dist/quill.core.css";
@import "../../node_modules/quill/dist/quill.snow.css";

@import "../assets/demo/styles/flags/flags.css";
@import "../assets/demo/styles/badges.scss";
@import "../assets/demo/styles/code.scss";
