body.inicio {
    margin: 0px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#dmain {
  margin: 0px;
  height: 100vh;
  width: 100%;
  background: url('http://desa.fonafifo.com/credifor/assets/bg2.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 992px) {
  .layout-container.layout-slim-plus .layout-sidebar {
      width: 14rem;
      overflow: visible;
  }
}

.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 7rem 2rem 2rem 4rem;
  transition: margin-left 0.2s;
}

.layout-main {
  flex: 1 1 auto;
}